.background {
  background-image: url("../../../assets/backgrounds/songs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.background h1 {
  color: #b3d3fa;
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  height: 70%;
  /* paddin-top: 5%; */
}

.content > div {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.content > div > div:nth-child(1) {
  background-color: #82b7f8;
  height: 100px;
  width: 100px;
  border-radius: 85% 70% 84% 87% / 77% 82% 89% 94%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: "Fredoka One", cursive;
}

.content iframe {
  height: 80%;
  width: 70%;
}
