.background {
  background-image: url("../../../assets/backgrounds/laterality.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}

.background p {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  color: #0086d2;
  text-align: justify;
}

.background h1 {
  margin: 0;
  color: #ffda73;
  font-size: 48px;
  font-family: "Fredoka One", cursive;
}

.background > div {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: space-evenly;
  margin-right: 5%;
}

.background div a {
  height: fit-content;
  color: #a6d8ff;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: #ffff9b;
  font-family: "Fredoka One", cursive;
  border-radius: 20px;
  font-size: 24px;
  border: 5px solid #fcd56c;
  text-align: center;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.background div a:hover {
  color: #7abae7;
  background-color: #fcd56c;
  transform: scale(1.1);
}

.homeIcon {
  position: absolute;
  top: 5%;
  left: 3%;
  color: #ffffff;
  background-color: #7abae7;
  border: 5px solid #ffffff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.homeIcon:hover {
  color: #7abae7;
  background-color: #ffffff;
  transform: scale(1.1);
}
