.background {
  background-image: url("../../assets/backgrounds/resources.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.background h1 {
  color: #ffda73;
  font-size: 48px;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0;
}

.background ul {
  overflow-y: scroll;
}

.background li::marker {
  color: #a6d8ff;
}

.background h2 {
  color: #a6d8ff;
  font-size: 32px;
  font-family: "Fredoka One", cursive;
}

.background a {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}

.homeIcon {
  position: absolute;
  top: 5%;
  left: 3%;
  color: #ffffff;
  background-color: #7abae7;
  border: 5px solid #ffffff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.homeIcon:hover {
  color: #7abae7;
  background-color: #ffffff;
  transform: scale(1.1);
}
