.background {
  background-image: url("../../assets/backgrounds/resources.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.background h1 {
  color: #ffda73;
  font-size: 48px;
  font-family: "Fredoka One", cursive;
  margin-bottom: 0;
}

.background ul {
  overflow-y: scroll;
}

.background li::marker {
  color: #a6d8ff;
}

.background h2 {
  color: #a6d8ff;
  font-size: 32px;
  font-family: "Fredoka One", cursive;
}

.background a {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
}
